
### We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
#### In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [2]:
import numpy as np
import pandas as pd
import statistics
import math
from scipy.stats import t

In [4]:
new=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [5]:
machine=pd.DataFrame(new)
machine["old"]=old
machine.columns=[['new','old']]

In [6]:
machine

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [7]:
from scipy.stats import ttest_ind, norm
a, b = ttest_ind(new, old)
print('T Statistic is:', a)
print("P value is:", b)

T Statistic is: -3.3972307061176026
P value is: 0.0032111425007745158